# Dependencies
node_modules/
.pnpm-store/

# Environment files
.env
.env.*
!.env.example
!.env.template

# Build artifacts
.next/
dist/
build/
coverage/
.cache/
*.tsbuildinfo

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS files
.DS_Store
Thumbs.db

# Medusa / local data
.medusa/
medusa-db.sql
uploads/

#MD files 
*.md
except README.md